<%
# Placeholder to view hit sequences: server sends requested sequences to the
# client, and the client simply slots them in.
%>
<div class="modal hide sequences">
  <div class="modal-header"></div>
  <div class="modal-body" id="sequences"></div>
  <div class="modal-footer" id="links"></div>
</div>
